@model CourseProject.Models.Student
@{
    ViewBag.Title = "Details";
}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Firstname @Model.Lastname</h5>
         </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Email</li>
        <li class="list-group-item">@Model.Birthdate</li>
    </ul>
    
</div>
